
*.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.DS_Store
*.sqlite
*.sqlite-journal
UoM_Specializations/P3_C5_Python Projectpillow tesseract and opencv/final_project/readonly/images.zip
.DS_Store
Google_IT_Automation_Specialization/C5 - Automating Real-World Tasks with Python/Week_4/supplier-data/*
Google_IT_Automation_Specialization/C5 - Automating Real-World Tasks with Python/Week_4/supplier-data/descriptions/001.txt
.DS_Store
